@tailwind base;
@tailwind components;
@tailwind utilities;

.my-bg-brand,
.my-active {
  background-color: #0bb091;
  color: #fff;
}

.my-bg-light {
  background-color: #f0fdf6;
  color: #000;
}

button.my-bg-brand:hover,
.my-active:hover {
  background-color: #015a48;
}

.my-text-black {
  color: #000;
}

.my-text-gray {
  color: #c1c6cd;
}

.my-text-primary {
  color: #015a48;
}

.my-text-medium {
  color: #0bb091;
}

.my-text-primary:hover {
  color: #0bb091;
}

.error {
  margin-top: 5px;
  color: #e5212c;
  font-size: 14px;
}

a.my-text-black:hover,
a.my-text-gray:hover,
svg.my-text-gray:hover,
svg.my-text-black:hover {
  color: #19e1bb;
  fill: #19e1bb;
}
